/* Reset rules taken from https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction:column;
    justify-self: center;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}


/* General style */

body {
    background-color: #101010;
    color: #F3F5F7;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

button {
    padding: 0.6em 1.5em;
    border-radius: 10px;
    border: 0;
    font-weight: 700;
}

/* Navbar style */


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 30em;
}

nav li {
    padding: 2em;
}

.home-search {
    display: flex;
    gap: 4em;
}

nav img {
    height: 2.5em;
}


/* Cards style */

main {
    width: 40rem;
    margin: 0 auto;
}

.card {
    display: flex;
    padding: 1em;
}

.card img {
    width: 3em;
    height: 3em;
    border-radius: 20px;
    margin-right: 1em;
}

.card div img {
    width: 25em;
    height: 25em;
    border-radius: 15px;
    padding: 0.5em 0 0.5em 0;
}

.likes-comments p {
    color: #6B6B6B;
}

/* Load more button style */

.load-button-container{
    text-align: center;
    padding-bottom: 2em;
}

/* Responsive design */

@media(max-width: 1300px){
    
    li {
        flex-shrink: 0;
    }

    nav ul {
        width: 1300px;
        padding: 0 30em;
    }

}

@media(max-width: 1200px){

    nav ul {
        width: 1300px;
        padding: 0 30em;
        justify-content: space-evenly;
    }
    
    nav img {
        height: 7em;
    }

    button {
        margin-top: 1em;
        font-size: 1.5em;
    }

    main div p {
        font-size: 2em;
    }

    main div h4 {
        font-size: 2em;
    }

    .card div img {
        height: 25em;
    }
}

